body {
  font-size: 22px;
  line-height: 1.5;
  color: #000;
}

.container {
  max-width: 1600px;
  padding: 0 20px;
}

.about-me__name {
  font-size: 30px;
  color: purple;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.about-me__photo {
  object-fit: cover;
}