aside {
  float:left;
  width: 40%;
  position: relative;

}
h1{
  font-size: 29px;
  line-height: 2rem;
  padding: 2rem 0 1rem 0;
  text-align: center;
}
.main-photo{
  border-radius: 50%;
  width: 80%;
margin: 0 auto;
}
h3{
  font-size: 22px;
  line-height: 1rem;
  border-bottom: 1px solid var(--main-color);
  padding-top:0.2rem;
}
.contacts{
  padding:1rem 1rem ;
}
.blue-line{
  background-color: #376193;
  height: 40px;
  width: 100%;
}
section{
  float: right;

}
