h1 { color: rgba(78, 95, 222, 0.703) }
img { outline: 10px solid rgb(72, 130, 95); 
    outline-style: dotted;
}
html { background-color: rgba(0, 0, 0, 0.799) ;}
html { color: rgba(240, 248, 255, 0.671);}
a { color: rgba(34, 131, 144, 0.845);}