body{
    color: #555555;
}
h1{
    color: darkblue;
}
img{
    width:200px;
    border-radius: 20%;
}
.list__contact{
    background-color:lightcyan ;
}
.list__technology{
    background-color: lightsalmon;
}