* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

li {
    list-style: none;
}

._container {
    margin: 0 auto;
    max-width: 1100px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.header__data {
    display: flex;
    flex-wrap: wrap;
}

.header__info {
    padding: 0 40px;
    font-size: 18px;
    font-weight: 600;
    color: gray;
    letter-spacing: .1em;
}

.header__info h1{
    font-size: 36px;
    letter-spacing: normal;
    color: black;
}

.header__info h2{
    font-size: 24px;
    padding: 0 0 20px 0;
    letter-spacing: normal;
    color: black;
}

@media (max-width: 618px) {  
    .header__info {
        padding: 0;
    }
}

.user__mail:hover {
    color: black;
    transition: .3s;
}

.user__phone:hover {
    color: black;
    transition: .3s;
}

.header__img {
    width: 200px;
}

.header__img img{
    width: 100%;
    border-radius: 20%;
}

.header__info {
    padding: 0 0 0 -400px;
}

.header__birthday {
    display: block;
}

.icons {
    display: flex;
    padding-left: 20px;
}

.icons a{
    padding-left: 20px;
}

@media (max-width: 618px) {  
    .icons {
        padding: 0;
    }
}

._main__info {
    display: block;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.exp__fix {
    padding-left: 95px;
}

._fix__scren{
    padding-left: 200px;
    text-align: justify;
}

._fix__scren_list {
    margin-left: 14%;
    position: relative;
}

@media (max-width: 618px) {  
    ._fix__scren {
        padding: 0;
    }
    ._fix__scren_list {
        padding-left: 0px;
    }
}

.exp__data {
    padding-left: 30px;
}

.exp__info {
    display: flex;
    margin-top: 10px;

}

.exp__photo {
    width: 50px;
}

.exp__photo img {
    width: 50px;
}

.skils {
    line-height: 1.5em;
}

.skill__wrapper {
    width: 200px;
    background-color: black;
}
.html__skill__progress {
    width: 80%;
    height: 1px;
    background-color: aqua;
}
.css__skill__progress {
    width: 75%;
    height: 1px;
    background-color: aqua;
}
.js__skill__progress {
    width: 70%;
    height: 1px;
    background-color: aqua;
}
.git__skill__progress {
    width: 95%;
    height: 1px;
    background-color: aqua;
}
.react__skill__progress {
    width: 85%;
    height: 1px;
    background-color: aqua;
}
.sql__skill__progress {
    width: 40%;
    height: 1px;
    background-color: aqua;
}

.languages {
    padding-left: 100px;
}

.footer {
    width: 100%;
    height: 70px;
    background: black;
    margin-top: 10px;
}

.footer span {
    color: white;
    display: block;
    text-align: center;
    padding-top: 20px;
    letter-spacing: 1em;
    font-size: 24px;
    font-weight: 900;
}