.cv-section {
    margin-bottom: 1.5rem;
}

.cv-section-title {
    color: var(--blue-200);
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--blue-100);
}

.bi {
    width: 1rem;
    height: 1rem;
    margin-right: 0.4rem;
    display: inline-block;
    vertical-align: -0.125rem;
}

.cv-cursor-pointer {
    cursor: pointer;
}

.cv-decorative-block {
    height: 40px;
    width: 100%;
}

.cv-list {
    padding-left: 1.5rem;
}

.cv-list li {
    margin-bottom: 1rem;
}
