body {
  color: #555;
}

h1 {
  color: darkblue;
}

img {
    width: 200px;
    border-radius: 50%;
}

.contacts_list {
  background-color: lightcyan;
}

.skills_list {
  background-color: lightsalmon;
}

