/* .cv {
  padding: 10px 20px;
  color: #333;
  width: 800px;
  margin: 0 auto;
  border: 1px solid gainsboro;
}

.my-name {
  color: darkblue;
  text-align: center;
}

img {
  width: 200px;
  border-radius: 50%;
}

.contacts {
  background-color: lightcyan;
}

.technology {
  background-color: lightsalmon;
} */
