html,
body {
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  all: unset;
}


h1 {
    margin: 0;
    padding: 0;
}

.cv{
  padding: 10px 20pxl;
  color: #333;
  width: 800px;
  margin: auto;
  border: 1px solid gainsboro;
}

